.formulario {
  position: relative;
}

.formulario-filho {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0);
  max-width: 100%;
  background-color: #d1d1d4;
  border-radius: 20px;
  padding: 40px 40px;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.08);
}

.login-form {
  max-width: 300px;
  color: black;
}
.login-form-forgot {
  float: right;
}
.ant-col-rtl .login-form-forgot {
  float: left;
}
.login-form-button {
  width: 100%;
  background-color: black;
}
.login-form-button:hover {
  width: 100%;
  background-color: black;
}
